@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'roboto';
    background-color: #e2e2e2;
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: white;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.header__title {
    color: #3b5bdb;
}

.header__input--search {
    margin-left: auto;
    background-color: #ebebeb;
    border-radius: 4px;
    border: none;
    width: 350px;
    height: 2rem;
    padding: 15px;
}

.main__container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.form__container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form__title {
    margin-bottom: 20px;
    font-size: 1rem;
}

.form__input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.form__input--text {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ebebeb;
    width: 350px;
}

.form__input--priority {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ebebeb;
    width: 200px;
}

.form__button--add-task {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3b5bdb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form__button--add-task:hover {
    background-color: #334fbf;
}

.tasks__container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
}

p {
    font-size: 10px;
}

.tasks__container h2 {
    margin-bottom: 20px;
}

.task__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f3f5;
    margin-bottom: 10px;
    border-radius: 4px;
    margin: 10px 0;
}

.task-info__container {
    display: flex;
    align-items: center;
}

.task-type {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.span-urgent {
    background-color: #e40404;
}

.span-important {
    background-color: #f3a703;
}

.span-normal {
    background-color: #028302;
}

button {
    border: none;
    cursor: pointer;
}

img {
    width: 10px;
    height: 10px;
}